<div class="flex items-center justify-center min-h-screen bg-blue-100">
    <mat-card class="bg-white shadow-lg rounded-xl p-10 w-full max-w-md">
        <h2 class="text-3xl font-semibold text-center text-blue-800 mb-6">
            Recuperação de Senha
        </h2>

        <form *ngIf="!isSubmitted" [formGroup]="recoveryPasswordForm" (ngSubmit)="onSubmit()" class="space-y-6">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label class="text-blue-800">Email</mat-label>
                <input matInput type="email" formControlName="email" required
                    class="border border-blue-300 rounded-md p-2 w-full" />
                <mat-error *ngIf="recoveryPasswordForm.get('email')?.invalid">
                    Por favor, insira um email válido.
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit"
                class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-4 rounded-md transition-colors">
                Enviar Email de Recuperação
            </button>

            <button mat-flat-button routerLink="/login"
                class="w-full mt-4 bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition-colors">
                Voltar para Login
            </button>
        </form>

        <div *ngIf="isSubmitted" class="text-center space-y-4">
            <p class="text-blue-800 text-lg">
                Um email de recuperação foi enviado para o endereço fornecido.
            </p>

            <button mat-flat-button routerLink="/login"
                class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-md transition-colors">
                Voltar para Login
            </button>
        </div>
    </mat-card>
</div>