<div class="min-h-screen bg-white">
    <!-- Cabeçalho -->
    <div class="bg-blue-600 text-white flex justify-between items-center p-4">
        <h6 class="text-xl font-bold">App Saúde</h6>
    </div>

    <!-- Aviso -->
    <div class="bg-yellow-400 text-center p-2 text-black font-semibold">
        Você tem 1 agenda para Exame dia 15/10/2024 em Carpina - PE
    </div>

    <!-- Botões de Ação -->
    <div class="flex justify-center items-center mt-16">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-3 mb-16">
            <button mat-fab extended color="primary" style="height: 180px; width: 250px;">
                <div class="grid">
                    <mat-icon fontIcon="calendar_month" class="material-symbols-outlined"></mat-icon>
                    <span class="mt-4 text-2xl font-semibold">Consultas</span>
                </div>
            </button>

            <button mat-fab extended color="primary" style="height: 180px; width: 250px;">
                <div class="grid">
                    <mat-icon fontIcon="description" class="material-symbols-outlined"></mat-icon>
                    <span class="mt-4 text-2xl font-semibold">Exames</span>
                </div>
            </button>

            <button mat-fab extended color="primary" style="height: 180px; width: 250px;">
                <div class="grid">
                    <mat-icon fontIcon="local_shipping" class="material-symbols-outlined"></mat-icon>
                    <span class="mt-4 text-2xl font-semibold">Transporte</span>
                </div>
            </button>
        </div>
    </div>
</div>